/* You can add global styles to this file, and also import other style files */

body{
    background-color: #04c582;
}

.body {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(assets/images/fondo.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}